.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
  }
  
  .App-header {
    background-color: #77BFB8
    ;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #0E0E40
    ;
  }
  
  .App-link {
    color: #09d3ac;
  }
  
  .register-form{
    background: #77BFB8;

}